.slideContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100%;
}

.beforeAnimation {
    opacity: 0;
}

@keyframes changing {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation {
    animation: 1s forwards changing;
}